python-dotenv
autogen-agentchat
autogen-ext[openai]
autogen-ext[ollama]
autogen-core
autogen-ext[mcp]
langchain_core
langgraph
google-genai
langchain-google-genai
langchain_anthropic
langchain_ollama
langchain_openai
aiohttp
beautifulsoup4
html2text
einops
accelerate
scipy
trimesh
pandas
scikit-learn
ddgs
cairosvg
vtk
timm
torch_geometric
tencentcloud-sdk-python>=3.0.0
requests>=2.25.0
trimesh 
pygltflib 
numpy-stl
meshio
diffusers
controlnet_aux
streamlit
mediapipe